* {
  border-radius: 5px;
}

body {
  margin: 0px;
}

.icon-bar {
  background-color: white;
}

#logo {
  width: 260px;
  height: 63px;
  margin-top: -21px;
}

.form-inline {
  margin-top: 8px;
}

.post_image img {
  width: 100%;
  border: thin black solid;
}

.count{
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 0px;
}

.post_text a {
  text-decoration: underline;
}

/*To only show the first 3 lines of the paragraph: */
.post_text p {
    height: 60px;
    line-height: 20px; /* Height / no. of lines to display */
    overflow: hidden;
}

.most_liked a {
  display: block;
  text-decoration: underline;
}

.footer {
  text-align: center;
}

.more_articles {
  font-size: 40px;
  text-decoration: underline;
}

.social_media i {
  margin: 25px 30px 20px 25px;
}
